.lvimrc
.DS_Store
output/
git_stats/

# sources
gits/
gits
data/*/*/src

.ipynb_checkpoints

# generated data
*-ranks.csv.gz
*-ranks.csv
*.mallet
*.mallet.gz
*.dict
*.dict.gz
*.index
*.index.gz

# generated models
*.lda*
*.lsi*
*.npy

src/grammars/

# custom test dir
tests/test_data/test_git/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
.eggs/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


# Latex
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.pdf

*.swp
.vscode/
